.path-frontpage {
  & main {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .navbar-brand {
      display: block !important;
    }

    & h2 {
      text-transform: uppercase;
      font-size: 1.5rem;
    }

    & h3 {
      font-size: 1.25rem;

      & a {
        text-decoration: none;
      }
    }
  }

}
