<div {{ attributes.addClass('d-flex', 'gap-2', 'mb-3') }}>
  <strong class="visually-hidden">{{ label }}</strong>
  {% for link in links %}
    <div>
      <a href="{{ link.content['#url'] }}" class="btn btn btn-outline-primary btn-sm" style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">{{ link.content['#title'] }}</a>
    </div>
  {% endfor %}
</div>
