// Sub theme styling.
@import "variables_drupal";

// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.2/customize/sass/#variable-defaults.
@import "variables_bootstrap";

// Include bootstrap.
@import "../../../../themes/contrib/bootstrap5/scss/style";

.region-nav-main .navbar-nav .nav-link {
  padding-inline: 0 !important;
  margin-inline: var(--bs-navbar-nav-link-padding-x);
  border-bottom: 3px solid transparent;
  text-align: center;
  @include media-breakpoint-down(md) {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 300;
  }

  &.is-active {
    color: var(--bs-navbar-active-color);
    font-weight: 500;
    text-decoration: underline;
    @include media-breakpoint-up(lg) {
      text-decoration: none;
      border-bottom-color: currentColor;
    }
  }
}

.region-nav-branding {
  @include media-breakpoint-down(sm) {
    .site-title {
      display: none;
    }
  }

  @include media-breakpoint-up(sm) {
    .site-slogan {
      display: block;
    }
  }
}

/* FRONTPAGE */
.path-frontpage {
  & .region-nav-branding {
    & .site-logo {
      @include media-breakpoint-down(sm) {
        display: none !important;
      }

      visibility: hidden;
      width: 0;
    }

    & .site-title,
    & .site-slogan {
      display: block;
    }
  }

  & .tabs-primary .nav-tabs {
    display: inline-flex;
    justify-content: center;
  }
}

.offcanvas-lg {
  @include media-breakpoint-down(md) {
    box-shadow: var(--bs-box-shadow) !important;
  }
}

// shadow-hover
.shadow-hover:hover {
  box-shadow: var(--bs-box-shadow),
}

.shadow-sm-hover:hover {
  box-shadow: var(--bs-box-shadow-sm)
}

.shadow-lg-hover:hover {
  box-shadow: var(--bs-box-shadow-lg)
}
