{#
/**
 * @file
 * Theme implementation for a Maptiler map with a single marker.
 *
 * Available variables:
 * - lonlat: The Longitude value.
 *
 * @ingroup themeable
 */
#}

<div id="initiative-map" class="loading" data-lonlat="{{ lonlat }}">
  <noscript>{{ lonlat }}</noscript>
</div>
