[data-component-id="vr:card-big"] {
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  background-image: linear-gradient(315deg, transparent 0%, var(--bs-card-bg) 70%), var(--bg-countour);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
